@keyframes shape-animation-one {
  0% {
    transform: translateY(-50%) rotate(0);
    left: 8vw;
  }

  50% {
    left: 10vw;
  }

  100% {
    transform: translateY(-50%) rotate(360deg);
    left: 8vw;
  }
}

@keyframes shape-animation-two {
  0% {
    transform: translateY(-50%) rotate(0deg);
    right: 8vw;
  }

  50% {
    right: 6vw;
  }

  100% {
    transform: translateY(-50%) rotate(-720deg);
    right: 8vw;
  }
}

@keyframes rotate-round {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(1turn);
  }
}

@keyframes breath {
  0%,
  100% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    &::view-transition-group(root) {
      animation-duration: var(--theme-trigger-duration);
    }

    &::view-transition-image-pair(root) {
      isolation: auto;
    }

    &::view-transition-old(root),
    &::view-transition-new(root) {
      animation: none;
      mix-blend-mode: normal;
      display: block;
    }
  }

  :root.light {
    &::view-transition-new(root) {
      animation: circle-in var(--theme-trigger-duration) forwards;
    }
  }

  :root.dark {
    &::view-transition-old(root) {
      animation: circle-out var(--theme-trigger-duration) forwards;
      z-index: 1;
    }
  }
}

@keyframes circle-in {
  from {
    clip-path: circle(0 at var(--theme-trigger-position));
  }

  to {
    clip-path: circle(150% at var(--theme-trigger-position));
  }
}

@keyframes circle-out {
  from {
    clip-path: circle(150% at var(--theme-trigger-position));
  }

  to {
    clip-path: circle(0 at var(--theme-trigger-position));
  }
}
