@use '@personal/shared/styles/themes/light';
@use '@personal/shared/styles/themes/dark';
@use '@personal/shared/styles/vars';
@use '@personal/shared/styles/reset';
@use '@personal/shared/styles/global';
@use '@personal/shared/styles/quick';
@use '@personal/shared/styles/animate';
@use './font.css';
@use './common';
@use './animates';
