@media (prefers-reduced-motion: no-preference) {
  :root {
    &::view-transition-group(root) {
      animation-duration: var(--theme-tirgger-duration);
    }
    &::view-transition-image-pair(root) {
      isolation: auto;
    }

    &::view-transition-old(root),
    &::view-transition-new(root) {
      animation: none;
      mix-blend-mode: normal;
      display: block;
    }
  }

  :root.light {
    &::view-transition-new(root) {
      animation: circle-in var(--theme-tirgger-duration) forwards;
    }
  }

  :root.dark {
    &::view-transition-old(root) {
      animation: circle-out var(--theme-tirgger-duration) forwards;
      z-index: 1;
    }
  }
}

@keyframes circle-in {
  from {
    clip-path: circle(0 at var(--theme-tirgger-position));
  }
  to {
    clip-path: circle(150% at var(--theme-tirgger-position));
  }
}

@keyframes circle-out {
  from {
    clip-path: circle(150% at var(--theme-tirgger-position));
  }
  to {
    clip-path: circle(0 at var(--theme-tirgger-position));
  }
}

.spin-loading {
  transform-origin: center;
  animation: spin 1s infinite linear;
}

/* css loading animate */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity var(--ts-duration-mid) ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.5s ease;
}

.slide-enter-from {
  opacity: 0;
  transform: translateX(-20px);
}

.slide-enter-to {
  opacity: 1;
  transform: translateX(0);
}

.slide-leave-from {
  opacity: 1;
  transform: translateX(0);
}

.slide-leave-to {
  opacity: 0;
  transform: translateX(20px);
}
