:root {
  --global-font-family: "system-ui", "sans-serif";
  --special-font-family: "Kingsman", "system-ui", "sans-serif";
  --text-bold-400: normal;
  --text-bold-500: 500;
  --text-bold-600: 600;
  --text-bold-700: bold;
  --text-bold-900: 900;
  --text-size-12: 12px;
  --text-size-14: 14px;
  --text-size-16: 16px;
  --text-size-18: 18px;
  --text-size-20: 20px;
  --text-size-22: 22px;
  --text-size-24: 24px;
  --text-size-26: 26px;
  --text-size-28: 28px;
  --text-size-30: 30px;
  --text-size-32: 32px;
  --text-size-40: 40px;
  --text-size-48: 48px;
  --text-size-56: 56px;
  --text-size-60: 60px;
  --text-size-64: 64px;
  --spacing-0: 0;
  --spacing-1: 1px;
  --spacing-2: 2px;
  --spacing-3: 3px;
  --spacing-4: 4px;
  --spacing-5: 5px;
  --spacing-6: 6px;
  --spacing-8: 8px;
  --spacing-10: 10px;
  --spacing-12: 12px;
  --spacing-14: 14px;
  --spacing-16: 16px;
  --spacing-18: 18px;
  --spacing-20: 20px;
  --spacing-22: 22px;
  --spacing-24: 24px;
  --spacing-26: 26px;
  --spacing-28: 28px;
  --spacing-30: 30px;
  --spacing-32: 32px;
  --spacing-34: 34px;
  --spacing-36: 36px;
  --spacing-38: 38px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-56: 56px;
  --spacing-64: 64px;
  --border-size-1: 1px;
  --border-size-2: 2px;
  --border-size-4: 4px;
  --border-radius-0: 0;
  --border-radius-3: 3px;
  --border-radius-6: 6px;
  --border-radius-8: 8px;

  /* 
    默认等于当前fontSize, 比如body.fontSize = 14px = line-height: 1;
    浏览器默认是1rem, 也就是16px
  */
  --line-height-2: 1;
  --line-height-3: 1.5;
  --line-height-4: 2;
  --box-shadow-base: 0 0 0 rgb(0 0 0 / 0%);
  --box-shadow-highlight: 4px 8px 32px rgb(25 25 25 / 16%);
  --box-shadow-low: 0 2px 8px rgb(25 25 25 / 4%);
  --box-shadow-overlay: 8px 16px 64px rgb(25 25 25 / 24%);
  --box-shadow-raised: 0 4px 16px rgb(25 25 25 / 12%);
  --box-shadow-standout: 16px 32px 128px rgb(25 25 25 / 48%);
  --blur-slight-opacity: 0.05;
  --blur-slight-size: 5px;
  --blur-strong-opacity: 0.5;
  --blur-strong-size: 25px;
  --aspect-ratio-1: 1;
  --aspect-ratio-2: 9 / 16;
  --aspect-ratio-3: 2 / 3;
  --aspect-ratio-4: 3 / 4;
  --aspect-ratio-5: 16 / 9;
  --aspect-ratio-6: 3 / 2;
  --aspect-ratio-7: 4 / 3;
  --breakpoint-xs: 0;
  --breakpoint-s: 640px;
  --breakpoint-m: 768px;
  --breakpoint-l: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-max: 1920px;
  --ts-duration-quick: 0.1s;
  --ts-duration-normal: 0.3s;
  --ts-duration-mid: 0.6s;
  --ts-duration-slow: 0.8s;
  --ts-timing-function: ease-in-out;
  --ods-table-scrollbar-size: 8px;
}
