.zs-icon__animate {
  display: inline-block;
  width: 1.09em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1109 1024' width='1109' height='1024'%3E%3Cpath fill='black' d='M276.314 109.483a154.37 154.37 0 00-119.296-57.174C70.405 52.31.005 124.928.005 214.187A162.13 162.13 0 0083.632 357.29c-22.699 61.61-37.547 133.973-40.96 219.306-1.45 36.267 2.218 70.912 10.752 102.998 26.71 99.84 127.573 327.253 491.264 343.381V1024c7.082 0 13.91-.256 20.736-.427 6.826.171 13.653.427 20.736.427v-1.024c363.69-16.128 464.554-243.541 491.178-343.381 8.62-32 12.288-66.731 10.838-102.912-3.499-90.539-20.054-166.4-45.142-230.4 41.558-30.379 66.39-79.36 66.39-132.096 0-89.259-70.4-161.878-157.014-161.878-42.24 0-82.09 17.494-111.53 48.299-97.963-61.525-199.766-81.835-254.806-88.32-20.906-3.157-41.472 0-41.472 0-57.6 6.827-166.4 28.672-268.288 97.195'/%3E%3Cpath fill='black' d='M633.178 751.36V637.184c33.792-9.643 57.686-32.939 57.686-60.16 0-35.84-41.302-65.024-92.33-65.024-50.945 0-92.332 29.099-92.332 65.024 0 27.307 23.894 50.517 57.686 60.16v116.31c-64.854-9.558-115.883-50.177-144.726-78.849a44.203 44.203 0 00-59.306-3.242 50.347 50.347 0 00-4.438 73.984c41.387 41.472 116.395 99.669 215.638 107.093 7.168.512 14.336.853 21.333.853 83.37 0 165.632-36.608 245.333-109.056a50.603 50.603 0 001.963-71.082 44.544 44.544 0 00-62.976-2.134c-48.128 43.52-96.17 70.4-143.53 80.214'/%3E%3C/svg%3E");
}

.zs-icon__arrow-right {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024' width='1024' height='1024'%3E%3Cpath fill='black' d='M446.293 768a95.15 95.15 0 01-38.826-8.533 75.09 75.09 0 01-44.8-67.84V332.373a75.09 75.09 0 0144.8-67.84 89.6 89.6 0 0194.293 11.094l217.6 179.626a72.533 72.533 0 010 113.494l-217.6 179.626A87.9 87.9 0 01446.293 768'/%3E%3C/svg%3E");
}

.zs-icon__bilibili {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024' width='1024' height='1024'%3E%3Cpath fill='black' d='M977.2 208.2c33.4 36.2 48.8 79.4 46.6 131.4v404.8c-.8 52.8-18.4 96.2-53 130.2-34.4 34-78.2 51.8-131 53.4H184.04c-52.9-1.6-96.42-19.6-130.56-54.4C19.364 838.8 1.534 793 0 736.4V339.6c1.534-52 19.364-95.2 53.48-131.4 34.14-32.7 77.66-50.66 130.56-52.2h58.76l-50.7-51.62c-11.5-11.46-17.26-26-17.26-43.58 0-17.6 5.76-32.12 17.26-43.594C203.6 5.736 218.2 0 235.8 0s32.2 5.736 43.8 17.206L426.2 156h176l149-138.794C763.4 5.736 778.4 0 796 0q26.4 0 43.8 17.206C851.2 28.68 857 43.2 857 60.8c0 17.58-5.8 32.12-17.2 43.58L789.2 156h58.6c52.8 1.54 96 19.5 129.4 52.2m-77.6 139.4c-.8-19.2-7.4-34.8-21.4-47-10.4-12.2-28-18.8-45.4-19.6H192.1c-19.18.8-34.9 7.4-47.16 19.6-12.28 12.2-18.8 27.8-19.56 47v388.8c0 18.4 6.52 34 19.56 47S173.7 803 192.1 803h640.7c18.4 0 34-6.6 46.6-19.6s19.4-28.6 20.2-47zM371 433c12.6 12.6 19.4 28.2 20.2 46.4V546c-.8 18.4-7.4 33.8-19.6 46.4-12.4 12.6-28 19-47.2 19s-35-6.4-47.2-19-18.8-28-19.6-46.4v-66.6c.8-18.2 7.6-33.8 20.2-46.4s26.4-19.2 46.6-20c18.4.8 34 7.4 46.6 20m383 0c12.6 12.6 19.4 28.2 20.2 46.4V546c-.8 18.4-7.4 33.8-19.6 46.4s-28 19-47.2 19-34.8-6.4-47.2-19c-14-12.6-18.8-28-19.4-46.4v-66.6c.6-18.2 7.4-33.8 20-46.4s28.2-19.2 46.6-20c18.4.8 34 7.4 46.6 20'/%3E%3C/svg%3E");
}

.zs-icon__blog {
  display: inline-block;
  width: 1.01em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1025 1024' width='1025' height='1024'%3E%3Cpath fill='black' d='M206.941 615.96c24.25-20.923 36.375-48.292 36.375-82.084 0-27.205-8.005-49.268-23.97-66.28-15.989-16.99-37.307-27.043-63.93-30.162v-1.094c21.317-6.981 38.027-18.734 50.152-35.281 12.125-16.524 18.176-35.98 18.176-58.415 0-26.81-10.007-48.57-30.045-65.303s-47.08-25.065-81.245-25.065H.024v395.101H115.2c36.91-.023 67.49-10.472 91.741-31.418M46.313 294.143H99.49c50.502 0 75.753 19.2 75.753 57.577 0 22.248-7.261 39.447-21.76 51.665s-34.444 18.316-59.788 18.316H46.313zm0 169.17H99.49c63.534 0 95.325 23.342 95.325 69.98 0 22.412-7.494 40.053-22.458 52.9-14.988 12.87-36.05 19.293-63.232 19.293H46.313zM317.44 251.461h45.172v395.892H317.44zm356.934 355.84c25.437-27.09 38.167-63.14 38.167-108.125 0-45.94-11.822-81.85-35.398-107.73-23.622-25.902-56.436-38.842-98.49-38.842-44.102 0-79.08 13.312-104.983 39.96s-38.842 63.65-38.842 111.034c0 43.52 12.427 78.475 37.33 104.82 24.878 26.368 58.18 39.54 99.886 39.54 42.775-.023 76.893-13.568 102.33-40.657M481.094 501.9q0-52.084 25.344-81.688c16.896-19.758 39.843-29.626 68.887-29.626 29.207 0 51.666 9.565 67.351 28.649 15.733 19.107 23.576 46.29 23.576 81.548 0 34.909-7.843 61.812-23.576 80.733-15.685 18.92-38.144 28.392-67.35 28.392-28.673 0-51.55-9.635-68.609-28.928-17.082-19.293-25.623-45.637-25.623-79.08'/%3E%3Cpath fill='black' d='M1025.513 618.729V359.19H980.34v39.122h-1.093c-18.386-30.488-46.57-45.731-84.597-45.731-40.052 0-71.587 14.15-94.627 42.426-23.063 28.276-34.583 66.397-34.583 114.339 0 42.24 10.705 75.916 32.093 100.98 21.411 25.088 49.664 37.609 84.736 37.609 43.171 0 75.497-17.99 97-53.993h1.095v30.86c0 28.928-5.33 52.177-16.012 69.772l-22.83 24.157-.978.675c-7.145 4.398-57.716 32.721-130.118-.559-78.22-36.003-189.533-38.959-216.948 55.296l32.28 24.855s0-44.358 49.989-62.115c37.143-13.172 77.568 3.468 109.568 17.199v.186c9.193 4.655 18.92 8.495 29.207 11.497l.489.163a225 225 0 0061.766 8.215c99.142 0 148.736-51.828 148.736-155.415m-69.004-35.817c-15.918 17.99-36.515 26.996-61.859 26.996-24.971 0-45.056-9.402-60.206-28.253-15.15-18.827-22.738-43.939-22.738-75.357 0-36.538 7.89-64.954 23.692-85.248s37.655-30.464 65.582-30.464c22.598 0 41.45 7.983 56.623 23.971 15.15 15.988 22.737 35.165 22.737 57.577v41.611c0 28.09-7.959 51.154-23.83 69.167'/%3E%3C/svg%3E");
}

.zs-icon__email {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024' width='1024' height='1024'%3E%3Cpath fill='black' d='M929.28 266.24H222.72A30.72 30.72 0 00192 296.96v430.08c0 16.96 13.792 30.72 30.72 30.72h706.56A30.72 30.72 0 00960 727.04V296.96a30.72 30.72 0 00-30.72-30.72m-73.696 416.096a22.88 22.88 0 01-32.576 0l-155.2-155.168-76.128 70.048a22.976 22.976 0 01-31.2 0L486.4 529.12 333.184 682.368a22.944 22.944 0 01-32.576 0 23.04 23.04 0 010-32.576l151.84-151.904L299.2 356.992a23.04 23.04 0 1131.168-33.92L576 548.96l245.536-225.888a23.04 23.04 0 1131.2 33.888l-151.04 138.944L855.52 649.728a23.04 23.04 0 01.064 32.608'/%3E%3C/svg%3E");
}

.zs-icon__github {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024' width='1024' height='1024'%3E%3Cpath fill='black' d='M512 42.667a464.64 464.64 0 00-469.333 459.52 460.37 460.37 0 00320.853 436.48c23.467 4.266 32-9.814 32-22.187V838.4c-130.56 27.733-158.293-61.44-158.293-61.44a122.03 122.03 0 00-52.054-67.413c-42.666-28.16 3.414-27.734 3.414-27.734a98.56 98.56 0 0171.68 47.36A101.12 101.12 0 00396.8 767.147a99.4 99.4 0 0129.867-61.44c-104.107-11.52-213.334-50.774-213.334-226.987a177.07 177.07 0 0147.36-124.16 161.28 161.28 0 014.694-121.173s39.68-12.374 128 46.933a455.7 455.7 0 01234.666 0c89.6-59.307 128-46.933 128-46.933a161.28 161.28 0 014.694 121.173 177.07 177.07 0 0149.92 123.307c0 176.64-110.08 215.466-213.334 226.986a106.67 106.67 0 0132 85.334v125.866c0 14.934 8.534 26.88 32 22.187a460.8 460.8 0 00320-436.053A464.64 464.64 0 00512 42.667'/%3E%3C/svg%3E");
}

.zs-icon__npm {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024' width='1024' height='1024'%3E%3Cpath fill='black' d='M768 128H256a128 128 0 00-128 128v512a128 128 0 00128 128h298.667V469.333h170.666V896H768a128 128 0 00128-128V256a128 128 0 00-128-128'/%3E%3C/svg%3E");
}

.zs-icon__phone {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024' width='1024' height='1024'%3E%3Cpath fill='black' d='M915.078 855.153c34.133-59.407 15.227-105.026-45.22-150.679-71.058-53.66-140.502-89.762-190.434-31.94 0 0-52.99 63.086-208.928-84.535C289.167 415.148 365.27 353.844 365.27 353.844c63.061-63.402 22.977-110.696-29.915-182.334-52.888-71.633-106.314-94.306-183.013-32.698C4.54 257.54 212.95 536.311 318.32 644.71l-.004.004s160.234 165.741 261.066 220.92l53.942 30.158c77.366 39.702 164.267 57.876 225.446 21.01 0 0 29.492-15.165 56.307-61.65'/%3E%3Cpath fill='black' d='M568.699 357.973h-46.446c-10.227 0-18.519-8.291-18.519-18.519s8.292-18.52 18.52-18.52h46.445c10.228 0 18.519 8.292 18.519 18.52s-8.291 18.519-18.52 18.519m102.887 0H625.14c-10.228 0-18.52-8.291-18.52-18.519s8.292-18.52 18.52-18.52h46.446c10.228 0 18.52 8.292 18.52 18.52s-8.292 18.519-18.52 18.519m102.884 0h-46.446c-10.228 0-18.519-8.291-18.519-18.519s8.291-18.52 18.52-18.52h46.446c10.227 0 18.519 8.292 18.519 18.52s-8.29 18.519-18.52 18.519m-205.771 67.074h-46.446c-10.227 0-18.519-8.291-18.519-18.519s8.292-18.519 18.52-18.519h46.445c10.228 0 18.519 8.291 18.519 18.519s-8.291 18.519-18.52 18.519m102.887 0H625.14c-10.228 0-18.52-8.291-18.52-18.519s8.292-18.519 18.52-18.519h46.446c10.228 0 18.52 8.291 18.52 18.519s-8.292 18.519-18.52 18.519m102.884 0h-46.446c-10.228 0-18.519-8.291-18.519-18.519s8.291-18.519 18.52-18.519h46.446c10.227 0 18.519 8.291 18.519 18.519s-8.29 18.519-18.52 18.519m-205.771 69.632h-46.446c-10.227 0-18.519-8.291-18.519-18.519s8.292-18.519 18.52-18.519h46.445c10.228 0 18.519 8.291 18.519 18.519s-8.291 18.519-18.52 18.519m102.887 0H625.14c-10.228 0-18.52-8.291-18.52-18.519s8.292-18.519 18.52-18.519h46.446c10.228 0 18.52 8.291 18.52 18.519s-8.292 18.519-18.52 18.519m102.884 0h-46.446c-10.228 0-18.519-8.291-18.519-18.519s8.291-18.519 18.52-18.519h46.446c10.227 0 18.519 8.291 18.519 18.519s-8.29 18.519-18.52 18.519m-102.885 73.728H625.14c-10.228 0-18.52-8.291-18.52-18.519s8.292-18.519 18.52-18.519h46.446c10.228 0 18.52 8.291 18.52 18.519s-8.292 18.519-18.52 18.519'/%3E%3C/svg%3E");
}

.zs-icon__sleep {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024' width='1024' height='1024'%3E%3Cpath fill='black' d='M512 0c282.784 0 512 229.216 512 512s-229.216 512-512 512S0 794.784 0 512 229.216 0 512 0m-84.928 265.056c4.48-9.952-6.24-19.872-15.968-14.912A284.48 284.48 0 00256 503.488c0 157.376 128 276.576 285.344 276.576 108.256 0 202.24-66.88 248.64-159.552 5.056-10.112-6.368-20.928-16.096-15.168-31.872 18.784-66.08 27.648-103.84 27.648-147.2 0-270.848-103.776-266.976-258.176.96-39.168 9.056-76.288 24-109.76m170.24 172.16h-.96c0 26.24-21.28 47.52-47.52 47.52v.96c26.24 0 47.52 21.28 47.52 47.552h.96c0-26.24 21.28-47.52 47.52-47.52v-.96c-26.24 0-47.52-21.28-47.52-47.52zm146.176-62.72h-.96c0 26.24-21.28 47.552-47.52 47.552v.96c26.24 0 47.52 21.28 47.52 47.52h.96c0-26.24 21.28-47.52 47.52-47.52v-.96c-26.24 0-47.52-21.28-47.52-47.52zM656.736 224h-1.28a63.36 63.36 0 01-63.36 63.36v1.28a63.36 63.36 0 0163.36 63.36h1.28a63.36 63.36 0 0163.36-63.36v-1.28a63.36 63.36 0 01-63.36-63.36'/%3E%3C/svg%3E");
}

.zs-icon__tv {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024' width='1024' height='1024'%3E%3Cpath fill='black' d='M823.296 133.12H216.832c-54.067 0-97.894 43.827-97.894 97.894v420.25c0 54.067 43.827 97.894 97.894 97.894h606.464c54.067 0 97.894-43.827 97.894-97.894v-420.25c0-54.067-43.827-97.894-97.894-97.894M487.578 401.203H430.13v153.754a43.622 43.622 0 01-87.245 0V401.203H285.39a43.622 43.622 0 010-87.245h202.137a43.62 43.62 0 0143.623 43.623c.051 24.064-19.507 43.622-43.571 43.622m307.507-27.033-81.203 197.376a43.58 43.58 0 01-40.346 27.033h-.358a43.77 43.77 0 01-40.295-27.648l-77.619-197.376c-8.806-22.425 2.202-47.77 24.627-56.576 22.426-8.806 47.77 2.202 56.576 24.627l37.888 96.41 39.885-97.024c9.165-22.272 34.662-32.922 56.986-23.757a43.56 43.56 0 0123.859 56.935m25.856 508.672H219.187c-24.115 0-43.622-17.562-43.622-39.22s19.558-39.219 43.622-39.219H820.89c24.115 0 43.622 17.562 43.622 39.22s-19.507 39.219-43.571 39.219'/%3E%3Cpath fill='black' d='M216.832 133.12c-54.067 0-97.894 43.827-97.894 97.894v420.25c0 54.067 43.827 97.894 97.894 97.894h457.42C784.539 630.17 851.969 470.886 851.969 295.834a667 667 0 00-19.917-162.253c-2.867-.256-5.785-.461-8.755-.461zm270.746 268.083H430.13v153.754a43.622 43.622 0 01-87.245 0V401.203H285.39a43.622 43.622 0 010-87.245h202.137a43.62 43.62 0 0143.623 43.623c.051 24.064-19.507 43.622-43.571 43.622m307.507-27.033-81.203 197.376a43.58 43.58 0 01-40.346 27.033h-.358a43.77 43.77 0 01-40.295-27.648l-77.619-197.376c-8.806-22.425 2.202-47.77 24.627-56.576 22.426-8.806 47.77 2.202 56.576 24.627l37.888 96.41 39.885-97.024c9.165-22.272 34.662-32.922 56.934-23.757a43.54 43.54 0 0123.91 56.935M219.187 804.454c-24.115 0-43.622 17.562-43.622 39.22s19.558 39.219 43.622 39.219h282.931c40.91-22.17 79.207-48.487 114.432-78.439z'/%3E%3Cpath fill='black' d='M118.938 231.014v420.25c0 22.886 7.936 43.878 21.094 60.57 94.157-19.764 181.043-59.392 256-114.279-3.072.666-6.246 1.075-9.523 1.075a43.62 43.62 0 01-43.623-43.622V401.203H285.39a43.622 43.622 0 010-87.245h202.137a43.622 43.622 0 010 87.245h-57.395v153.754c0 7.168-1.74 13.926-4.813 19.865A671.3 671.3 0 00569.702 410.01l-14.336-36.455c-8.806-22.425 2.202-47.77 24.628-56.576 12.492-4.915 25.856-3.635 36.812 2.304 24.73-58.265 41.37-120.78 48.59-186.112H216.882c-54.118-.051-97.945 43.776-97.945 97.843'/%3E%3Cpath fill='black' d='M118.938 231.014v195.38A665.6 665.6 0 00242.33 350.72c3.276-20.838 21.299-36.864 43.059-36.864h.614A668.8 668.8 0 00425.165 133.12H216.832c-54.067 0-97.894 43.827-97.894 97.894'/%3E%3C/svg%3E");
}

